/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  background-size: cover;
  min-height: 100vh;
}
.heading {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #2d3a35;
  max-width: 32%;
  text-align: center;
}
.span {
  color: #c20a72;
}
.info {
  font-size: 18px;
  font-family: 'Roboto';
}
.button {
  cursor: pointer;
  outline: none;
  background-color: #007bff;
  color: #ffffff;
  width: 150px;
  height: 60px;
  border-radius: 10px;
}
